*{
	margin:0px;
	padding:0px;
}
#about-page{
	width:99vw;
	height:90vh;
	background-image:url("https://cdn.pixabay.com/photo/2020/05/16/13/18/nature-5177539__340.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	color:white;

	display:flex;
	justify-content: center;
	flex-direction:column;
	align-items: center;

}
p{
	padding:20px;
	margin:20px;
	border:1px solid white;
	width:50vw;
	height:50vh;
	font-size:30px;
	color:white;
}
h2{
	font-size:30px;
}