*{
	margin:0px;
	padding:0px;
}
#main-content-holder-container{
	width:99vw;
	height:99vh;
	background-color:grey;

}

#navigation-bar-container{
	width:99vw;
	height:10vh;
	background-color:black;
	color:white;

}
#header{
	height:99vh;
	width:99vw;
	background-image:url("https://cdn.pixabay.com/photo/2016/03/26/13/09/cup-of-coffee-1280537__340.jpg");
	background-repeat:no-repeat;
	background-size:100%;
	background-attachment:scroll; 

}
a{
	color:white;
	text-decoration:none;
	padding-left:40px;
	font-size:20px;
	font-weight:bold;
	position:relative;
	top:10px;
}
#About{
	width:200px;
	height:150px;
	background-color:blue;
}