*{
	margin:0px;
	padding:0px;
}
#main-content-holder-container{
	width:99vw;
	height:100vh;
    background-image:url("https://cdn.pixabay.com/photo/2016/06/20/14/32/gray-1468994_960_720.jpg");
	background-size:cover;
	background-repeat:no-repeat; 
	background-attachment:fixed;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#navigation-bar-container{
	width:99vw;
	height:10vh;
    color:white;

}
#header{
	height:87vh;
	width:99vw;
    color:white;
	display:flex;
    justify-content:center;
    justify-content:space-between;
    flex-direction:column;

}

a{
	color:white;
	text-decoration:none;
	padding-left:40px;
	font-size:20px;
	font-weight:bold;
	position:relative;
	top:10px;
}

a:link {
	color:white;
	background-color: transparent;
	text-decoration: none;
  }
  
  a:visited {
	color:white;
	background-color: black;
	text-decoration: none;
  }
  
  a:hover {
	color: red;
	background-color: transparent;
	text-decoration: underline;
  }
  
  a:active {
	color: black;
	background-color:transparent;
	text-decoration: underline;
  }

#About{
	display:flex;
	flex-direction:column;
	width:55vw;
	height:70vh;
    color:white;
	position:relative;
	top:20px;
	left:300px;
}

#footer{
	width:99vw;
	height:10vh;
	
    color:white;
    font-size:16px;
    text-align: center;

}

h1{

  font-size:25px; 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:bold;
  position:relative;
  top:30px;
  left:80px;

}
#About-section{
  font-size:20px; 
  color:white;
  font-weight:normal;
  align-items:center;
  position:relative;
  top:20px;
  display:block;
  padding:25px;
  margin:5px;
  max-width:600px;
  font-family:serif;
  font-weight:bold;


}
#hr-one{
	width:210px;
	height:1px;
	position:relative;
	left:80px;
	top:30px;
	
}
#hr-two{
	width:500px;
	height:1px;
	position:relative;
	left:100px;
	top:20px;

}
.nav-links1{
	width:55vw;
	position:relative;
	top:10px;
	margin-left:200px;
	padding:30px;
}
