*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
body{
	padding:2px;
	margin:1px;
	border:1px solid white;
}
#main-div-container{
	display:flex;
	width:99vw;
	height:99vh;
	background-image:url("https://cdn.pixabay.com/photo/2016/03/26/13/09/notebook-1280538__340.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	}
#contact-list{
     display:flex;
     flex-direction:column;
     justify-content:flex-end;
     justify-content: center;
     width:10vw;
     height:60vh;
  

}

.fab{
   font-size:20px;
   font-style:normal;
   font-weight:normal;
   font-family:sans-serif;
   padding-top:10px;
   color:white;
   padding-left:20px;
}

#name-carrier-div{
	 display:flex;
	 justify-content:flex-start;
	 flex-direction:column;
     
	 width:40vw;	
     height:60vh;
     color:white;
     position:relative;
     top:140px;
	}
	button{
		
		width:140px;
		height:40px;
		padding:2px;
		text-align:center;
		border:none;
		padding-top:10px;
		background-color:rgb(53, 48, 48);
	}
	button a{
		font-size:23px;
		color:white;
		font-family:sans-serif;
	}
	i{
		color:white;
		font-size:50px;

	}
	#navigation-bar-div{
	  display:flex;
	  justify-content:flex-end;
	  justify-content:space-around;
	  width:50vw;	
     height:60vh;
     position:relative;
     top:10px;

	}
	#p1{
		font-family:sans-serif;
		font-weight:normal;
		font-size:23px;
		font-weight:normal;
		color:white;
		padding:10px;
		display:inline-block;
		position:relative;
		top:35px;

	}
	#p2{
		font-family:sans-serif;
		font-weight:bold;
		font-size:28px;
		color:white;
		position:relative;
		top:30px;
		left:10px;
		
	}
	#p3{
		font-size:15px;
		color:white;
		font-family:sans-serif;
	}
	a{
		text-decoration:none;
		color:white;
		font-size:20px;
	    font-weight:bold;
	    font-family:sans-serif;

}
	h1{
      font-size:20px;
      font-family:sans-serif;
      font-weight:bold;
      color:white;
      position:relative;
      top:28px;
	}

	/*Css @media queries starts here.*/

   @media screen and (max-width:600px;){
   	#main-div-container{
   		background-image:url(" ");
   	}
   }