*{
	margin:0px;
	padding:0px;

}
#main-content-holder{
	width:99vw;
	height:100vh;
	background-image:url("https://cdn.pixabay.com/photo/2016/06/20/14/32/gray-1468994_960_720.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed; 
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#header-section{
	width:99vw;
	height:10vh;
	color:white;

}
a{

	color:white;
	text-decoration:none;
	padding-left:40px;
	font-size:20px;
	font-weight:bold;
	position:relative;
	top:10px;
}
a:link {
	color:white;
	background-color: transparent;
	text-decoration: none;
  }
  
  a:visited {
	color:white;
	background-color: transparent;
	text-decoration: none;
  }
  
  a:hover {
	color: red;
	background-color: transparent;
	text-decoration: underline;
  }
  
  a:active {
	color: yellow;
	background-color: transparent;
	text-decoration: underline;
  }
#main{
	width:99vw;
	height:99vh;
	color:white;
}
#body-section{
	height:87vh;
	width:99vw; 
	display:flex;
    flex-direction:row;
    justify-content:space-between; 
}
#Skills-section{
	width:45vw;
	height:40vh; 
	position:relative; 
	top:20px;
	left:80px;
	padding-left:20px;
	border-right:1px solid white;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight:bold;
}
ul{
	list-style-type:none;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#Projects-section{
	width:45vw;
	height:40vh; 
	position:relative; 
	top:20px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#head-one{
	position:relative;
	top:8px;
	font-size:32px;
}
#head-two{
	position:relative;
	top:9px;
    font-size:18px;
}
#one{
	position:relative;
	top:10px;
}
#two{
	position:relative;
	top:10px;
}
#three{
	position:relative;
	top:10px;
}
#four{
	position:relative;
	top:12px;
	font-size:18px;
}
#five{
	position:relative;
	top:10px;
}
#footer-section{
	width:99vw;
	height:10vh;
    position:relative;
 
    color:white;
}